In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

In [3]:
beer_df = pd.read_csv("./output_data/craft_beer_nv.csv")
beer_df.head()

,Name,id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Style,Category,Brewer,City,State,Latitude,Longitude,Region
0,Possession Porter,723,5.6,0,0,Porter,Irish Ale,Diamond Knot Brewery & Alehouse,Mukilteo,Washington,47.9485,-122.3050,West
1,Free Bike Amber,742,4.5,0,0,American-Style Amber/Red Ale,North American Ale,Skagit River Brewing,Mount Vernon,Washington,48.4192,-122.3350,West
2,Potrero ESB,3982,5.2,0,0,Special Bitter or Best Bitter,British Ale,21st Amendment Brewery Cafe,San Francisco,California,37.7825,-122.3930,West
3,Twisted Kilt Scotch Ale,4221,5.0,0,0,Scotch Ale,British Ale,Thirsty Dog Brewing,Akron,Ohio,41.0689,-81.5172,Midwest
4,HarvestÃ¶r Fresh Hop Ale,5243,7.2,0,0,American-Style Pale Ale,North American Ale,Lift Bridge Brewery,Stillwater,Minnesota,45.0565,-92.8222,Midwest

In [4]:
df = beer_df[['Brewer','City','State','Latitude','Longitude','Region']]
brewery_df = df.drop_duplicates(subset='Brewer', keep='first')
brewery_df

,Brewer,City,State,Latitude,Longitude,Region
0,Diamond Knot Brewery & Alehouse,Mukilteo,Washington,47.9485,-122.3050,West
1,Skagit River Brewing,Mount Vernon,Washington,48.4192,-122.3350,West
2,21st Amendment Brewery Cafe,San Francisco,California,37.7825,-122.3930,West
3,Thirsty Dog Brewing,Akron,Ohio,41.0689,-81.5172,Midwest
4,Lift Bridge Brewery,Stillwater,Minnesota,45.0565,-92.8222,Midwest
...,...,...,...,...,...,...
1815,Milwaukee Ale House,Milwaukee,Wisconsin,43.0334,-87.9093,Midwest
1839,Titletown Brewing,Green Bay,Wisconsin,44.5200,-88.0173,Midwest
1847,Metropolitan Brewing,Chicago,Illinois,41.9750,-87.6740,Midwest
1880,San Diego Brewing,San Diego,California,32.7922,-117.0990,West
1881,Pinehurst Village Brewery,Aberdeen,North Carolina,35.1315,-79.4295,Southeast

In [35]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [36]:
brew_coord = brewery_df[["Latitude", "Longitude"]]

In [37]:
locations = beer_df[["Latitude", "Longitude"]]
abv = beer_df['Alcohol By Volume']

In [40]:
fp = (40.00,-94.00)
brew_layer = gmaps.symbol_layer(
    brew_coord, fill_color='rgba(33, 70, 250, 0.4)',
    stroke_color= 'rgba(53, 64, 122, 0.4)', scale=3,)

fig = gmaps.figure(center=fp, zoom_level=3.5)

In [41]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=abv, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

In [42]:
fig = gmaps.figure()

fig.add_layer(brew_layer)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))